.menu{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.inactive{
    border-bottom: 1px solid var(--color-elements);
    transition: 0.4s;
    cursor: pointer;
}

.active{
    border-bottom: 1px solid rgb(40, 197, 253);
    transition: 0.4s;
    cursor: pointer;
}


.userList{
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    width: 100%;
}

@media screen and (min-width: 1000px) {
    .table{
        max-width: 1000px;
    }

}


.tr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--color-separator);
}

.th{
    font-weight: 600;
    color: var(--color-writting);
    width : 150px;
}

.td{
    color: var(--color-writting);
    width : 150px;
}

.clickable{
    cursor:pointer;
}


.actions{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}

.actions>button{
    padding: 0.5rem;
    width : 100px;
    border-radius: 5px;
    border: none;
    background-color: rgb(12, 12, 12);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.actions>button:hover{
    background-color: rgb(40, 197, 253);
    transition: 0.4s;
}
.actions>:last-child:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.4s;
}


.search{
    margin-top:1em;
    padding: 0.5rem;
    border-radius: 10px;
    border : 0.3px solid rgb(12, 12, 12);
    font-size: small;
    transition: 0.4s;
    margin: 1rem;
}

.search:focus{
    outline: none;
    padding:0.7rem;
    transition: 0.4s;
}

.search::placeholder{
    color: var(--color-separator);
}

@media  (max-width: 800px) {

    .search{
        margin:0;
    }

    .userList{
        overflow-x: hidden;
    }

    .table{
        transform:scale(0.85);
       
    }
    .tr{
        gap: 0.5rem;
    }

    .actions{
        transform:scale(0.85);
        
    }

    .email, .firstName, .lastName, .role{
        display: none;
    }

    .th, .td{
        width: 100px;
    }
}


/*UserVerif*/

.usersCardList{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 1rem;
}

.userCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.369);
    width: 200px;
}

.userInfos{
    width: 100%;
}
.h3{
    font-weight: 600;
}
.userActions{
    display: flex;
    gap: 1rem;
}

.userActions>button{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(12, 12, 12);
    color: white;
    cursor: pointer;
}

.accept:hover{
    background-color: rgb(40, 197, 253);
    transition: 0.4s;
}

.reject:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.4s;
}

@media (max-width: 800px) {
.userCard{
    padding:0.5rem;
    width: 150px;
    gap:0.5rem;
}

    .userInfos{
        font-size: small;
    }
}